@import "bootstrap/scss/bootstrap";
// importing core styling file
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

//font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}


/*custom scroll bars*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

._mycommands {
    padding-left: 15px;
    color: white;
    opacity: 50%;
    transition: opacity 0.3s;
    font-weight: 600;

    &:hover {
        opacity: 100%;

    }
}

._myinfocard {
    //visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: rgba(2, 2, 2, 0.349);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(4px);
    height: 100%;
    opacity: 0%;
    transition: opacity 0.5s;

    &:hover {
        opacity: 100%;
    }
}